# data loading without pandas

In [1]:
import numpy as np

In [5]:
x = []
for line in open("data_2d.csv"):
    row = line.split(",")
    sample = map(float, row)
    x.append(list(sample))

In [6]:
x

[[17.9302012052, 94.5205919533, 320.259529602],
 [97.1446971852, 69.5932819844, 404.634471526],
 [81.7759007845, 5.73764809688, 181.485107741],
 [55.8543424175, 70.3259016768, 321.773638018],
 [49.3665499855, 75.1140401571, 322.465485583],
 [3.19270246506, 29.2562988631, 94.6188108954],
 [49.2007840582, 86.1444385075, 356.348092747],
 [21.882803904, 46.8415051959, 181.653769226],
 [79.5098627219, 87.397355535, 423.557743194],
 [88.1538874975, 65.2056419279, 369.229245443],
 [60.7438543399, 99.9576339008, 427.605803661],
 [67.4155819451, 50.3683096094, 292.471821553],
 [48.3181157719, 99.1289531425, 395.529811407],
 [28.8299719729, 87.1849488537, 319.031348455],
 [43.853742664, 64.4736390798, 287.4281441],
 [25.3136940868, 83.5452942552, 292.768908839],
 [10.807726675, 45.6955685904, 159.663307674],
 [98.365745882, 82.6973935253, 438.798963866],
 [29.1469099692, 66.3651067611, 250.986309034],
 [65.1003018959, 33.3538834975, 231.711507921],
 [24.6441134909, 39.5400527406, 163.398160832],
 [37.5598048804, 1.34572784158, 83.4801551365],
 [88.1645062351, 95.1536625708, 466.265805791],
 [13.8346208354, 25.494048204, 100.886430268],
 [64.4108437467, 77.2598381277, 365.641048062],
 [68.925991798, 97.4536007955, 426.140015493],
 [39.4884422375, 50.8561281903, 235.532389457],
 [52.4631776831, 59.7765096878, 283.291640318],
 [48.4847869797, 66.9703542227, 298.581440375],
 [8.06208781377, 98.2426001448, 309.234108782],
 [32.7318877149, 18.8535355289, 129.610139015],
 [11.6523787962, 66.2645117418, 224.150542091],
 [13.7303535349, 70.4725091314, 235.305665631],
 [8.18555176536, 41.8519894198, 153.484189455],
 [53.6098761481, 94.560121637, 394.939444253],
 [95.3686098922, 47.2955069599, 336.126738879],
 [87.3336092062, 93.8039343271, 449.363351987],
 [66.3576110919, 81.8475512843, 387.014816485],
 [19.7547175302, 65.5233009197, 240.389441595],
 [21.1334404504, 47.4371819938, 177.14828058],
 [22.37386481, 25.9556275364, 119.61125795],
 [93.9904040537, 0.127890520058, 196.716166657],
 [86.7201980995, 18.413766785, 236.260808358],
 [98.9983729904, 60.2312656882, 384.381344695],
 [3.59396564372, 96.2522173231, 293.237183045],
 [15.1023633732, 92.5569035696, 304.890882807],
 [97.8341407695, 2.02390810433, 201.293598424],
 [19.9382196923, 46.7782734632, 170.610093035],
 [30.3735111369, 58.7775251616, 242.373484227],
 [73.2928831485, 67.6696277593, 353.082991304],
 [52.2309008804, 81.9024482531, 348.725688557],
 [86.4295761137, 66.5402275975, 365.959970954],
 [93.4008021441, 18.0752459352, 235.472381633],
 [13.213460059, 91.4888587787, 300.606878255],
 [4.59346270394, 46.3359315158, 145.818745251],
 [15.6692915825, 35.5437439971, 138.880334695],
 [52.9593597724, 68.7202096086, 317.163707741],
 [56.8175212312, 47.5727319202, 254.903631301],
 [51.1335430813, 78.0421674552, 334.5843335],
 [7.86216471526, 17.7290817759, 69.3555888141],
 [54.6986037014, 92.7445841407, 386.859937239],
 [86.3990630133, 41.8886945857, 294.871713576],
 [11.9475060186, 42.9613867358, 156.754219545],
 [70.3584010648, 83.7062345104, 391.806135291],
 [29.0223663255, 84.327783082, 319.310462851],
 [42.7594799067, 97.4933260814, 376.291589478],
 [96.2156564389, 25.8342825832, 280.617043873],
 [53.2277276552, 27.9055085669, 194.430465068],
 [30.3609896715, 0.939644215313, 69.6488631767],
 [83.2775653897, 73.1793485695, 384.597184993],
 [30.1876924786, 7.1465385989, 89.5390083986],
 [11.7884184617, 51.6977608445, 181.550682802],
 [18.2924240117, 61.9779760484, 224.773382884],
 [96.7126676927, 9.0291015125, 219.567093701],
 [31.0127386947, 78.2833824603, 298.490216481],
 [11.3972607536, 61.728693243, 199.944044715],
 [17.3925557906, 4.24114086314, 43.9156923531],
 [72.1826937267, 34.5390721676, 256.068378234],
 [73.980020785, 3.71649343826, 159.372580639],
 [94.4930583509, 88.41719702, 447.132703621],
 [84.5628207335, 20.2411621935, 233.078829579],
 [51.7424739723, 11.009747964, 131.070179635],
 [53.7485903953, 60.0251022958, 298.814332704],
 [85.0508347563, 95.7369969538, 451.80352299],
 [46.7772504514, 90.2022062395, 368.366435952],
 [49.7584341737, 52.834494361, 254.706774007],
 [24.1192565017, 42.1028107802, 168.308432759],
 [27.2015764537, 29.9787492892, 146.34226],
 [7.00959616769, 55.876058392, 176.810148976],
 [97.6469496688, 8.14762512696, 219.16028041],
 [1.38298250945, 84.9440869198, 252.905652954],
 [22.3235303534, 27.5150750402, 127.570478844],
 [45.0454062325, 93.5204022248, 375.822340339],
 [40.1639914677, 0.161699234822, 80.3890193252],
 [53.182739793, 8.17031616228, 142.718183077],
 [46.4567791559, 82.000170914, 336.876154384],
 [77.1303006946, 95.1887594549, 438.460586127],
 [68.600607572, 72.5711807231, 355.900286918],
 [41.6938871165, 69.241125973, 284.834636711],
 [4.1426693978, 52.2547263792, 168.034400947]]

In [7]:
X= np.array(x)

In [8]:
X.shape

(100, 3)

# data loading with pandas

In [10]:
import pandas as pd

In [11]:
X = pd.read_csv("data_2d.csv", header=None)

In [12]:
X

            0          1           2
0   17.930201  94.520592  320.259530
1   97.144697  69.593282  404.634472
2   81.775901   5.737648  181.485108
3   55.854342  70.325902  321.773638
4   49.366550  75.114040  322.465486
5    3.192702  29.256299   94.618811
6   49.200784  86.144439  356.348093
7   21.882804  46.841505  181.653769
8   79.509863  87.397356  423.557743
9   88.153887  65.205642  369.229245
10  60.743854  99.957634  427.605804
11  67.415582  50.368310  292.471822
12  48.318116  99.128953  395.529811
13  28.829972  87.184949  319.031348
14  43.853743  64.473639  287.428144
15  25.313694  83.545294  292.768909
16  10.807727  45.695569  159.663308
17  98.365746  82.697394  438.798964
18  29.146910  66.365107  250.986309
19  65.100302  33.353883  231.711508
20  24.644113  39.540053  163.398161
21  37.559805   1.345728   83.480155
22  88.164506  95.153663  466.265806
23  13.834621  25.494048  100.886430
24  64.410844  77.259838  365.641048
25  68.925992  97.453601  426.140015
26  39.488442  50.856128  235.532389
27  52.463178  59.776510  283.291640
28  48.484787  66.970354  298.581440
29   8.062088  98.242600  309.234109
..        ...        ...         ...
70  30.187692   7.146539   89.539008
71  11.788418  51.697761  181.550683
72  18.292424  61.977976  224.773383
73  96.712668   9.029102  219.567094
74  31.012739  78.283382  298.490216
75  11.397261  61.728693  199.944045
76  17.392556   4.241141   43.915692
77  72.182694  34.539072  256.068378
78  73.980021   3.716493  159.372581
79  94.493058  88.417197  447.132704
80  84.562821  20.241162  233.078830
81  51.742474  11.009748  131.070180
82  53.748590  60.025102  298.814333
83  85.050835  95.736997  451.803523
84  46.777250  90.202206  368.366436
85  49.758434  52.834494  254.706774
86  24.119257  42.102811  168.308433
87  27.201576  29.978749  146.342260
88   7.009596  55.876058  176.810149
89  97.646950   8.147625  219.160280
90   1.382983  84.944087  252.905653
91  22.323530  27.515075  127.570479
92  45.045406  93.520402  375.822340
93  40.163991   0.161699   80.389019
94  53.182740   8.170316  142.718183
95  46.456779  82.000171  336.876154
96  77.130301  95.188759  438.460586
97  68.600608  72.571181  355.900287
98  41.693887  69.241126  284.834637
99   4.142669  52.254726  168.034401

[100 rows x 3 columns]

In [13]:
X.head(5)

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

In [15]:
X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [16]:
X[0][0]

17.9302012052

In [19]:
X.values

array([[1.79302012e+01, 9.45205920e+01, 3.20259530e+02],
       [9.71446972e+01, 6.95932820e+01, 4.04634472e+02],
       [8.17759008e+01, 5.73764810e+00, 1.81485108e+02],
       [5.58543424e+01, 7.03259017e+01, 3.21773638e+02],
       [4.93665500e+01, 7.51140402e+01, 3.22465486e+02],
       [3.19270247e+00, 2.92562989e+01, 9.46188109e+01],
       [4.92007841e+01, 8.61444385e+01, 3.56348093e+02],
       [2.18828039e+01, 4.68415052e+01, 1.81653769e+02],
       [7.95098627e+01, 8.73973555e+01, 4.23557743e+02],
       [8.81538875e+01, 6.52056419e+01, 3.69229245e+02],
       [6.07438543e+01, 9.99576339e+01, 4.27605804e+02],
       [6.74155819e+01, 5.03683096e+01, 2.92471822e+02],
       [4.83181158e+01, 9.91289531e+01, 3.95529811e+02],
       [2.88299720e+01, 8.71849489e+01, 3.19031348e+02],
       [4.38537427e+01, 6.44736391e+01, 2.87428144e+02],
       [2.53136941e+01, 8.35452943e+01, 2.92768909e+02],
       [1.08077267e+01, 4.56955686e+01, 1.59663308e+02],
       [9.83657459e+01, 8.26973935e+01, 4.38798964e+02],
       [2.91469100e+01, 6.63651068e+01, 2.50986309e+02],
       [6.51003019e+01, 3.33538835e+01, 2.31711508e+02],
       [2.46441135e+01, 3.95400527e+01, 1.63398161e+02],
       [3.75598049e+01, 1.34572784e+00, 8.34801551e+01],
       [8.81645062e+01, 9.51536626e+01, 4.66265806e+02],
       [1.38346208e+01, 2.54940482e+01, 1.00886430e+02],
       [6.44108437e+01, 7.72598381e+01, 3.65641048e+02],
       [6.89259918e+01, 9.74536008e+01, 4.26140015e+02],
       [3.94884422e+01, 5.08561282e+01, 2.35532389e+02],
       [5.24631777e+01, 5.97765097e+01, 2.83291640e+02],
       [4.84847870e+01, 6.69703542e+01, 2.98581440e+02],
       [8.06208781e+00, 9.82426001e+01, 3.09234109e+02],
       [3.27318877e+01, 1.88535355e+01, 1.29610139e+02],
       [1.16523788e+01, 6.62645117e+01, 2.24150542e+02],
       [1.37303535e+01, 7.04725091e+01, 2.35305666e+02],
       [8.18555177e+00, 4.18519894e+01, 1.53484189e+02],
       [5.36098761e+01, 9.45601216e+01, 3.94939444e+02],
       [9.53686099e+01, 4.72955070e+01, 3.36126739e+02],
       [8.73336092e+01, 9.38039343e+01, 4.49363352e+02],
       [6.63576111e+01, 8.18475513e+01, 3.87014816e+02],
       [1.97547175e+01, 6.55233009e+01, 2.40389442e+02],
       [2.11334405e+01, 4.74371820e+01, 1.77148281e+02],
       [2.23738648e+01, 2.59556275e+01, 1.19611258e+02],
       [9.39904041e+01, 1.27890520e-01, 1.96716167e+02],
       [8.67201981e+01, 1.84137668e+01, 2.36260808e+02],
       [9.89983730e+01, 6.02312657e+01, 3.84381345e+02],
       [3.59396564e+00, 9.62522173e+01, 2.93237183e+02],
       [1.51023634e+01, 9.25569036e+01, 3.04890883e+02],
       [9.78341408e+01, 2.02390810e+00, 2.01293598e+02],
       [1.99382197e+01, 4.67782735e+01, 1.70610093e+02],
       [3.03735111e+01, 5.87775252e+01, 2.42373484e+02],
       [7.32928831e+01, 6.76696278e+01, 3.53082991e+02],
       [5.22309009e+01, 8.19024483e+01, 3.48725689e+02],
       [8.64295761e+01, 6.65402276e+01, 3.65959971e+02],
       [9.34008021e+01, 1.80752459e+01, 2.35472382e+02],
       [1.32134601e+01, 9.14888588e+01, 3.00606878e+02],
       [4.59346270e+00, 4.63359315e+01, 1.45818745e+02],
       [1.56692916e+01, 3.55437440e+01, 1.38880335e+02],
       [5.29593598e+01, 6.87202096e+01, 3.17163708e+02],
       [5.68175212e+01, 4.75727319e+01, 2.54903631e+02],
       [5.11335431e+01, 7.80421675e+01, 3.34584334e+02],
       [7.86216472e+00, 1.77290818e+01, 6.93555888e+01],
       [5.46986037e+01, 9.27445841e+01, 3.86859937e+02],
       [8.63990630e+01, 4.18886946e+01, 2.94871714e+02],
       [1.19475060e+01, 4.29613867e+01, 1.56754220e+02],
       [7.03584011e+01, 8.37062345e+01, 3.91806135e+02],
       [2.90223663e+01, 8.43277831e+01, 3.19310463e+02],
       [4.27594799e+01, 9.74933261e+01, 3.76291589e+02],
       [9.62156564e+01, 2.58342826e+01, 2.80617044e+02],
       [5.32277277e+01, 2.79055086e+01, 1.94430465e+02],
       [3.03609897e+01, 9.39644215e-01, 6.96488632e+01],
       [8.32775654e+01, 7.31793486e+01, 3.84597185e+02],
       [3.01876925e+01, 7.14653860e+00, 8.95390084e+01],
       [1.17884185e+01, 5.16977608e+01, 1.81550683e+02],
       [1.82924240e+01, 6.19779760e+01, 2.24773383e+02],
       [9.67126677e+01, 9.02910151e+00, 2.19567094e+02],
       [3.10127387e+01, 7.82833825e+01, 2.98490216e+02],
       [1.13972608e+01, 6.17286932e+01, 1.99944045e+02],
       [1.73925558e+01, 4.24114086e+00, 4.39156924e+01],
       [7.21826937e+01, 3.45390722e+01, 2.56068378e+02],
       [7.39800208e+01, 3.71649344e+00, 1.59372581e+02],
       [9.44930584e+01, 8.84171970e+01, 4.47132704e+02],
       [8.45628207e+01, 2.02411622e+01, 2.33078830e+02],
       [5.17424740e+01, 1.10097480e+01, 1.31070180e+02],
       [5.37485904e+01, 6.00251023e+01, 2.98814333e+02],
       [8.50508348e+01, 9.57369970e+01, 4.51803523e+02],
       [4.67772505e+01, 9.02022062e+01, 3.68366436e+02],
       [4.97584342e+01, 5.28344944e+01, 2.54706774e+02],
       [2.41192565e+01, 4.21028108e+01, 1.68308433e+02],
       [2.72015765e+01, 2.99787493e+01, 1.46342260e+02],
       [7.00959617e+00, 5.58760584e+01, 1.76810149e+02],
       [9.76469497e+01, 8.14762513e+00, 2.19160280e+02],
       [1.38298251e+00, 8.49440869e+01, 2.52905653e+02],
       [2.23235304e+01, 2.75150750e+01, 1.27570479e+02],
       [4.50454062e+01, 9.35204022e+01, 3.75822340e+02],
       [4.01639915e+01, 1.61699235e-01, 8.03890193e+01],
       [5.31827398e+01, 8.17031616e+00, 1.42718183e+02],
       [4.64567792e+01, 8.20001709e+01, 3.36876154e+02],
       [7.71303007e+01, 9.51887595e+01, 4.38460586e+02],
       [6.86006076e+01, 7.25711807e+01, 3.55900287e+02],
       [4.16938871e+01, 6.92411260e+01, 2.84834637e+02],
       [4.14266940e+00, 5.22547264e+01, 1.68034401e+02]])

In [20]:
X[0]

0     17.930201
1     97.144697
2     81.775901
3     55.854342
4     49.366550
5      3.192702
6     49.200784
7     21.882804
8     79.509863
9     88.153887
10    60.743854
11    67.415582
12    48.318116
13    28.829972
14    43.853743
15    25.313694
16    10.807727
17    98.365746
18    29.146910
19    65.100302
20    24.644113
21    37.559805
22    88.164506
23    13.834621
24    64.410844
25    68.925992
26    39.488442
27    52.463178
28    48.484787
29     8.062088
        ...
70    30.187692
71    11.788418
72    18.292424
73    96.712668
74    31.012739
75    11.397261
76    17.392556
77    72.182694
78    73.980021
79    94.493058
80    84.562821
81    51.742474
82    53.748590
83    85.050835
84    46.777250
85    49.758434
86    24.119257
87    27.201576
88     7.009596
89    97.646950
90     1.382983
91    22.323530
92    45.045406
93    40.163991
94    53.182740
95    46.456779
96    77.130301
97    68.600608
98    41.693887
99     4.142669
Name: 0, Length: 100, dtype: float64

In [21]:
X[0][5]

3.19270246506

In [22]:
type(X)

pandas.core.frame.DataFrame

In [23]:
type(X[0])

pandas.core.series.Series

In [24]:
X[1]

0     94.520592
1     69.593282
2      5.737648
3     70.325902
4     75.114040
5     29.256299
6     86.144439
7     46.841505
8     87.397356
9     65.205642
10    99.957634
11    50.368310
12    99.128953
13    87.184949
14    64.473639
15    83.545294
16    45.695569
17    82.697394
18    66.365107
19    33.353883
20    39.540053
21     1.345728
22    95.153663
23    25.494048
24    77.259838
25    97.453601
26    50.856128
27    59.776510
28    66.970354
29    98.242600
        ...
70     7.146539
71    51.697761
72    61.977976
73     9.029102
74    78.283382
75    61.728693
76     4.241141
77    34.539072
78     3.716493
79    88.417197
80    20.241162
81    11.009748
82    60.025102
83    95.736997
84    90.202206
85    52.834494
86    42.102811
87    29.978749
88    55.876058
89     8.147625
90    84.944087
91    27.515075
92    93.520402
93     0.161699
94     8.170316
95    82.000171
96    95.188759
97    72.571181
98    69.241126
99    52.254726
Name: 1, Length: 100, dtype: float64

In [25]:
X.iloc[0]

0     17.930201
1     94.520592
2    320.259530
Name: 0, dtype: float64

In [26]:
X.ix[0]

C:\conda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0     17.930201
1     94.520592
2    320.259530
Name: 0, dtype: float64

In [29]:
X.loc[0]

0     17.930201
1     94.520592
2    320.259530
Name: 0, dtype: float64

In [30]:
X.loc[1]

0     97.144697
1     69.593282
2    404.634472
Name: 1, dtype: float64

In [31]:
X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [34]:
X[X[0]>10]

            0          1           2
0   17.930201  94.520592  320.259530
1   97.144697  69.593282  404.634472
2   81.775901   5.737648  181.485108
3   55.854342  70.325902  321.773638
4   49.366550  75.114040  322.465486
6   49.200784  86.144439  356.348093
7   21.882804  46.841505  181.653769
8   79.509863  87.397356  423.557743
9   88.153887  65.205642  369.229245
10  60.743854  99.957634  427.605804
11  67.415582  50.368310  292.471822
12  48.318116  99.128953  395.529811
13  28.829972  87.184949  319.031348
14  43.853743  64.473639  287.428144
15  25.313694  83.545294  292.768909
16  10.807727  45.695569  159.663308
17  98.365746  82.697394  438.798964
18  29.146910  66.365107  250.986309
19  65.100302  33.353883  231.711508
20  24.644113  39.540053  163.398161
21  37.559805   1.345728   83.480155
22  88.164506  95.153663  466.265806
23  13.834621  25.494048  100.886430
24  64.410844  77.259838  365.641048
25  68.925992  97.453601  426.140015
26  39.488442  50.856128  235.532389
27  52.463178  59.776510  283.291640
28  48.484787  66.970354  298.581440
30  32.731888  18.853536  129.610139
31  11.652379  66.264512  224.150542
..        ...        ...         ...
67  53.227728  27.905509  194.430465
68  30.360990   0.939644   69.648863
69  83.277565  73.179349  384.597185
70  30.187692   7.146539   89.539008
71  11.788418  51.697761  181.550683
72  18.292424  61.977976  224.773383
73  96.712668   9.029102  219.567094
74  31.012739  78.283382  298.490216
75  11.397261  61.728693  199.944045
76  17.392556   4.241141   43.915692
77  72.182694  34.539072  256.068378
78  73.980021   3.716493  159.372581
79  94.493058  88.417197  447.132704
80  84.562821  20.241162  233.078830
81  51.742474  11.009748  131.070180
82  53.748590  60.025102  298.814333
83  85.050835  95.736997  451.803523
84  46.777250  90.202206  368.366436
85  49.758434  52.834494  254.706774
86  24.119257  42.102811  168.308433
87  27.201576  29.978749  146.342260
89  97.646950   8.147625  219.160280
91  22.323530  27.515075  127.570479
92  45.045406  93.520402  375.822340
93  40.163991   0.161699   80.389019
94  53.182740   8.170316  142.718183
95  46.456779  82.000171  336.876154
96  77.130301  95.188759  438.460586
97  68.600608  72.571181  355.900287
98  41.693887  69.241126  284.834637

[91 rows x 3 columns]

In [35]:
X[0] < 5

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90     True
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99     True
Name: 0, Length: 100, dtype: bool

In [36]:
type(X[0]<5)

pandas.core.series.Series

In [38]:
X[X[1]<5]

            0         1           2
21  37.559805  1.345728   83.480155
41  93.990404  0.127891  196.716167
46  97.834141  2.023908  201.293598
68  30.360990  0.939644   69.648863
76  17.392556  4.241141   43.915692
78  73.980021  3.716493  159.372581
93  40.163991  0.161699   80.389019